@import 'mixin/flexbox'; //$justify, $align, $direction, $wrap
@import 'component/reset';
@import 'component/searchform';

//Variabili
$primary: #0D0E10;
$bg-primary: #F3F7FA;
$c-light: #fff;
$c-gray: #738a94;

//Font
$font-primary: 'Roboto',
sans-serif;

//Universal
body {
   font-family: $font-primary;
}

a {
   text-decoration: none;
   color: $primary;

   &:visited {
      text-decoration: none;
      color: $primary;
   }

   &:hover {
      text-decoration: none;
      color: $primary;
   }

   &:focus {
      text-decoration: none;
      color: $primary;
   }

   &:hover {
      text-decoration: none;
      color: $primary;
   }

   &:active {
      text-decoration: none;
      color: $primary;
   }
}

//Header
.header {
   width: 100%;
   background: $primary;
   color: $c-light;

   .container {
      width: 95%;
      max-width: 95%;
      @include flexbox(space-between, center, column, wrap);
      margin: auto;

      a{
         color: $c-light;
         h1 {
            padding: 20px;
         }
      }
      
      .nav {
         width: 100%;
         padding-bottom: 10px;
         margin-top: 40px;
         max-width: 700px !important;

         ul {
            width: 100%;
            text-transform: uppercase;
            @include flexbox(flex-start, center, row, wrap);

            a{
               color: $c-gray;
               margin-right: 5px;
            }
         }
      }
   }
}


//Main
.main {
   width: 100%;
   background: linear-gradient(to bottom, $primary 6%, $bg-primary -9%);
  background-repeat: no-repeat;
   padding: 20px 0px 20px 0px;

   .container {
      width: 95%;
      max-width: 95%;
      margin: auto;
      @include flexbox(space-between, center, row, wrap);

      .article {
         @include flexbox(space-between, flex-start, column, wrap);
         width: 100%;
         min-height: 300px;
         background: $c-light;
         border-radius: 5px;
         overflow: hidden;
         box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
         margin-bottom: 20px;

         .attachment-post-thumbnail {
            max-width: 100%;
            height: 180px;
            width: 100%;
            object-fit: cover;
         }
         .avatar{
            max-width:32px;
            max-height: 32px;
            border-radius: 50%;
            margin-right: 10px;
         }

         .category {
            padding: 20px 20px 5px 20px;
            color: $c-gray;
            text-transform: uppercase;
         }

         .title {
            padding: 20px 20px 5px 20px;
            font-size: 1.4em;
            font-weight: 700;
         }

         .text-content {
            letter-spacing: .2px;
            padding: 10px 20px 10px 20px;
         }

         .footer {
            
            @include flexbox(space-between, center, row, wrap);
            padding: 10px 20px 10px 20px;

            .time-read {
               text-transform: uppercase;
               color: $c-gray;
            }
         }
      }
   }
}

@media screen and (min-width: 550px){
   .index{
      .container{
         max-width: 700px !important;
         @include flexbox(space-between, center, row, wrap);
         .article{
            max-width: 49%;
   
         }
      }
   }
}

//Main search
.main.search{
   .container{
      justify-content: flex-start;
      max-width: 700px;
      a{
         width:100%;
         margin-top: 20px;
      }
      .alert-primary{
         width: 100%;
         padding: 20px 0px 10px 0px;
      }

      .article{
         width: 50%;
         margin-top: 30px;
      }
      
   }
   
}

//main html
.main.html{
   .container{
      justify-content: flex-start;

      .article{
         width: 50%;
      }
   }
}


//main tool
.main.tool{
   .container{
      justify-content: flex-start;

      .article{
         width: 50%;
      }
   }
}



//Footer
footer.end {
   width: 100%;
   background: $primary;

   .container {
      width: 95%;
      margin:auto;
      max-width: 700px !important;
      padding: 20px;

      .copyright {
         color: $c-light;
         font-weight: 300;
      }
   }
}
//Single article
@import 'single';