@import 'base';

.theme {
  .main-container {
    display: flex;
    justify-content: space-between;

    .content {
      width: calc(100vw - 240px);
      background: #EDEDED;
      box-sizing: border-box;
      padding: 1.5%;

      @media screen and (max-width: 960px) {
        padding: 0%;
      }

      @media screen and (max-width: 960px) {
        width: 78%;
      }
      @media screen and (max-width: 768px){
        width: 100%;
      }

      .row {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;

        &.blog{
          max-width: 1300px !important;
          justify-content: space-between;
        }

        @import 'component/card';

        @media screen and (max-width: 960px) {
          padding: 10px;
        }
      }
    }
  }
}