/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+ruby+markup-templating+php+sass&plugins=line-numbers+toolbar+highlight-keywords+normalize-whitespace+show-language+copy-to-clipboard */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  /* margin: .5em 0; */
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #132239;
  border-radius: 5px; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

div.code-toolbar {
  position: relative; }

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 1; }

/* div.code-toolbar:hover > .toolbar {
    opacity: 1;
} */
div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
  margin-left: 10px; }

div.code-toolbar > .toolbar a {
  cursor: pointer; }

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: .5em; }

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%); }

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: .85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: .2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all 0.3s; }

.waves-float:active {
  -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.box-badge {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  width: 100%; }

.badge {
  border-radius: 3px;
  padding: 5px 7px !important;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px; }
  .badge.html {
    background: linear-gradient(to right, #E44D26, #F16529); }
  .badge.handlebars {
    background: linear-gradient(to right, #2B1D11, #524538, #ED8423); }
  .badge.css {
    background: linear-gradient(to right, #1171BD, #0D87C8); }
  .badge.bootstrap {
    background: #6E44A3; }
  .badge.semantic-ui {
    background: #35BDB2; }
  .badge.sass {
    background: #CF649A; }
  .badge.stylus {
    background: linear-gradient(to right, #292929, #B3D107); }
  .badge.postcss {
    background: #DD3A0A; }
  .badge.compass {
    background: linear-gradient(to right, #BC0C04, #EA1808); }
  .badge.javascript {
    background: linear-gradient(to right, #D5B932, #FED942); }
  .badge.typescript {
    background: #2771BF; }
  .badge.jquery {
    background: #0868AB; }
  .badge.angular {
    background: linear-gradient(to right, #B32E31, #E03237); }
  .badge.react {
    background: #57BDDB; }
  .badge.vuejs {
    background: linear-gradient(to right, #32475B, #3FB27F, #00BB7C); }
  .badge.nodejs {
    background: linear-qgradient(to right, #3E863D, #508F4A, #79B85F); }
  .badge.nodejs {
    background: linear-gradient(to right, #3E863D, #508F4A, #79B85F); }
  .badge.express {
    background: linear-gradient(to right, #222222, #F7DF1E); }
  .badge.php {
    background: #7377AD; }
  .badge.wordpress {
    background: #21759B; }
  .badge.laravel {
    background: linear-gradient(to right, #F46B5A, #F34D39); }
  .badge.python {
    background: linear-gradient(to left, #F7CF44, #356C9B); }
  .badge.django {
    background: #092D1F; }
  .badge.mysql {
    background: linear-gradient(to right, #00618B, #E69A1B); }
  .badge.postgresql {
    background: #31648C; }
  .badge.redis {
    background: linear-gradient(to right, #7A0D01, #A41A11, #D82A20); }
  .badge.java {
    background: linear-gradient(to right, #006CBA, #EA2D2E); }
  .badge.cpp {
    background: linear-gradient(to right, #004482, #00599C, #659AD2); }
  .badge.perl {
    background: #0196C1; }
  .badge.flutter {
    background: linear-gradient(to right, #015496, #28B0EE, #51BFF0); }
  .badge.docker {
    background: linear-gradient(to right, #394D54, #008BB8, #039BC6, #BFDBE0); }

.alert {
  margin: 5px 0px 5px 0px;
  border-radius: 2px; }
  .alert p {
    margin-top: 0px;
    padding: 7px;
    margin-left: 10px; }

.alert.success {
  color: #58db83;
  background: #D6F6E0; }

.alert.warning {
  color: #F5B25C;
  background: #FCE9C1; }

.alert.danger {
  color: #EC537F;
  background: #FBDDE2; }

.alert.attention {
  color: #7a6fbe;
  background: #ECEAF6; }

html {
  font-family: serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li, ol li {
  line-height: 1em !important; }

ul ul, ol ul, ul ol, ol ol {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  line-height: 1.5em;
  margin-top: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.6em;
  line-height: 1.2em; }

h2 {
  font-size: 3.7em;
  line-height: 1.2em; }

h3 {
  font-size: 3em;
  line-height: 1.5em !important; }

h4 {
  font-size: 2.4em;
  line-height: 1.2em; }

h5 {
  font-size: 2em;
  line-height: 1.4em; }

h6 {
  font-size: 1.6em;
  line-height: 1.8em; }

p {
  font-size: 1.1em;
  line-height: 1.2em; }

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

table td, table th {
  padding: 0;
  line-height: 33px; }

.m-y-2 {
  margin: 10px 0px 10px 0px; }

.m-t-2 {
  margin-top: 10px; }

.m-t-4 {
  margin-top: 20px; }

.m-t-5 {
  margin-top: 25px; }

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box !important; }

.header {
  background: #FFFFFF;
  height: 70px;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 0px, 2px, 3px, -2px, #000026;
  display: flex;
  align-items: center; }
  .header .container {
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header .container .brand_search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header .container .brand_search .brand {
        width: 200px;
        height: 42px; }
      .header .container .brand_search .search_icon {
        position: relative; }
        .header .container .brand_search .search_icon .search {
          height: 30px;
          border: 1px solid #ced4da;
          background: #F8F9FA;
          margin-left: 60px;
          padding-left: 20px;
          padding-right: 30px; }
        .header .container .brand_search .search_icon .fa-search {
          color: #748598;
          font-size: 20px;
          position: absolute;
          right: 5px;
          top: 7px; }
    .header .container .box-icon {
      margin-right: 30px; }

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .main-container .aside {
    background: #2b3a4a;
    width: 240px;
    max-width: 240px;
    height: calc(100vh - 70px);
    overflow: scroll;
    position: sticky !important;
    top: 70px; }
    .main-container .aside .list {
      padding-top: 0px; }
      .main-container .aside .list .item {
        color: #fff;
        font-size: 13.3px;
        padding: 13px 20px;
        cursor: pointer;
        line-height: 20px; }
        .main-container .aside .list .item:hover {
          background-color: #263442; }
        .main-container .aside .list .item .link {
          display: flex; }
          .main-container .aside .list .item .link i {
            margin-right: 10px; }
    .main-container .aside .secondary .item {
      margin-left: 30px;
      line-height: 10px !important; }
  .main-container .aside::-webkit-scrollbar {
    width: 0 !important; }
  .main-container .active {
    height: 100% !important;
    opacity: 1 !important; }
  .main-container .content {
    background: #EEEEEE;
    width: calc(100vw - 240px);
    padding: 40px; }
    .main-container .content .page-title {
      font-size: 22px;
      margin: 0;
      line-height: 30px;
      margin-bottom: 10px; }
    .main-container .content .text {
      margin-bottom: 20px;
      line-height: 22px; }
    .main-container .content .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

.layout .main-container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .layout .main-container .row .card {
    border-radius: 5px; }
    .layout .main-container .row .card ul {
      margin: 0px; }
  .layout .main-container .row .card-s {
    background: #fff;
    width: 23%;
    height: 170px;
    min-height: 170px;
    max-height: 170px;
    border-radius: 5px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    background: #3eb7ba !important;
    background-image: url("../img/bg-1.png") !important;
    background-size: cover !important;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .layout .main-container .row .card-s .result {
      font-size: 1.7em;
      line-height: 2.5em; }
  .layout .main-container .row .card-md {
    width: 30%;
    border: none;
    padding: 20px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    background: #fff; }
    .layout .main-container .row .card-md .material-icons {
      font-size: 50px; }
  .layout .main-container .row .card-lg {
    width: 46.8%;
    height: auto;
    border: none;
    padding: 20px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    background: #fff; }
    .layout .main-container .row .card-lg .coding.waves-effect {
      width: 100%; }
    .layout .main-container .row .card-lg .img-template {
      width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #f3f3f3; }
    .layout .main-container .row .card-lg pre {
      display: flex;
      flex-direction: row;
      min-width: 100%;
      cursor: pointer;
      width: 100%;
      font-family: 'Arial'; }
      .layout .main-container .row .card-lg pre code {
        width: 100%;
        padding-left: 5px !important;
        font-size: 15px !important; }
      .layout .main-container .row .card-lg pre span {
        line-height: 20px !important; }
  .layout .main-container .row .card-xl {
    width: 100%;
    border: none;
    padding: 20px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    background: #fff; }

/*# sourceMappingURL=style.css.map */
