body.theme {
  margin: 0px;
  font-family: 'Poppins', sans-serif; }
  body.theme ul {
    list-style: none;
    padding: 0px; }
  body.theme a {
    text-decoration: none;
    color: #111; }
    body.theme a:visited {
      color: #111; }
    body.theme a:active {
      color: #111; }

.theme ul, .theme ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
.theme ul li, .theme ol li {
  line-height: 1em !important; }
.theme ul ul, .theme ol ul, .theme ul ol, .theme ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.theme blockquote {
  line-height: 1.5em;
  margin-top: 1em; }
.theme h1, .theme h2, .theme h3, .theme h4, .theme h5, .theme h6 {
  font-family: sans-serif;
  margin-bottom: 0;
  line-height: 1.5rem; }
.theme h1 {
  font-size: 4.6em;
  line-height: 1.2em; }
.theme h2 {
  font-size: 3.7em;
  line-height: 1.2em; }
.theme h3 {
  font-size: 3em;
  line-height: 1.5em !important; }
.theme h4 {
  font-size: 2.4em;
  line-height: 1.2em; }
.theme h5 {
  font-size: 2em;
  line-height: 1.4em; }
.theme h6 {
  font-size: 1.6em;
  line-height: 1.8em; }
.theme p {
  font-size: 1.1em;
  line-height: 1.2em; }
.theme table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }
.theme table td, .theme table th {
  padding: 0;
  line-height: 33px; }
.theme .m-y-2 {
  margin: 10px 0px 10px 0px; }
.theme .m-t-2 {
  margin-top: 10px; }
.theme .m-t-4 {
  margin-top: 20px; }
.theme .m-t-5 {
  margin-top: 25px; }

.theme .alert {
  margin: 5px 0px 5px 0px;
  border-radius: 2px; }
  .theme .alert p {
    margin-top: 0px;
    padding: 7px;
    margin-left: 10px; }
.theme .alert.success {
  color: #58db83;
  background: #D6F6E0; }
.theme .alert.warning {
  color: #F5B25C;
  background: #FCE9C1; }
.theme .alert.danger {
  color: #EC537F;
  background: #FBDDE2; }
.theme .alert.attention {
  color: #7a6fbe;
  background: #ECEAF6; }

.theme .aside {
  background: #2b3a4a;
  width: 240px;
  max-width: 240px;
  height: calc(100vh - 70px);
  overflow: scroll;
  position: sticky !important;
  top: 70px;
  font-family: 'Poppins'; }
  .theme .aside ul {
    padding-top: 0px;
    margin: 0px; }
    .theme .aside ul li {
      color: #fff;
      font-size: 13.3px;
      cursor: pointer; }
      .theme .aside ul li:hover {
        background-color: #263442; }
      .theme .aside ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.4em;
        line-height: 30px;
        padding: 20px;
        display: block; }
.theme .aside::-webkit-scrollbar {
  width: 0 !important; }

.theme .box-badge {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  width: 100%; }
.theme .badge {
  border-radius: 3px;
  padding: 5px 7px !important;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px; }
  .theme .badge.html {
    background: linear-gradient(to right, #E44D26, #F16529); }
  .theme .badge.handlebars {
    background: linear-gradient(to right, #2B1D11, #524538, #ED8423); }
  .theme .badge.css {
    background: linear-gradient(to right, #1171BD, #0D87C8); }
  .theme .badge.bootstrap {
    background: #6E44A3; }
  .theme .badge.semantic-ui {
    background: #35BDB2; }
  .theme .badge.sass {
    background: #CF649A; }
  .theme .badge.stylus {
    background: linear-gradient(to right, #292929, #B3D107); }
  .theme .badge.postcss {
    background: #DD3A0A; }
  .theme .badge.compass {
    background: linear-gradient(to right, #BC0C04, #EA1808); }
  .theme .badge.javascript {
    background: linear-gradient(to right, #D5B932, #FED942); }
  .theme .badge.typescript {
    background: #2771BF; }
  .theme .badge.jquery {
    background: #0868AB; }
  .theme .badge.angular {
    background: linear-gradient(to right, #B32E31, #E03237); }
  .theme .badge.react {
    background: #57BDDB; }
  .theme .badge.vuejs {
    background: linear-gradient(to right, #32475B, #3FB27F, #00BB7C); }
  .theme .badge.nodejs {
    background: linear-qgradient(to right, #3E863D, #508F4A, #79B85F); }
  .theme .badge.nodejs {
    background: linear-gradient(to right, #3E863D, #508F4A, #79B85F); }
  .theme .badge.express {
    background: linear-gradient(to right, #222222, #F7DF1E); }
  .theme .badge.php {
    background: #7377AD; }
  .theme .badge.wordpress {
    background: #21759B; }
  .theme .badge.laravel {
    background: linear-gradient(to right, #F46B5A, #F34D39); }
  .theme .badge.python {
    background: linear-gradient(to left, #F7CF44, #356C9B); }
  .theme .badge.django {
    background: #092D1F; }
  .theme .badge.mysql {
    background: linear-gradient(to right, #00618B, #E69A1B); }
  .theme .badge.postgresql {
    background: #31648C; }
  .theme .badge.redis {
    background: linear-gradient(to right, #7A0D01, #A41A11, #D82A20); }
  .theme .badge.java {
    background: linear-gradient(to right, #006CBA, #EA2D2E); }
  .theme .badge.cpp {
    background: linear-gradient(to right, #004482, #00599C, #659AD2); }
  .theme .badge.perl {
    background: #0196C1; }
  .theme .badge.flutter {
    background: linear-gradient(to right, #015496, #28B0EE, #51BFF0); }
  .theme .badge.docker {
    background: linear-gradient(to right, #394D54, #008BB8, #039BC6, #BFDBE0); }

.theme .header {
  background: #ffffff;
  height: 70px;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  align-items: center; }
  .theme .header .container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px; }
    .theme .header .container .brand_search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 28%; }
      .theme .header .container .brand_search .brand {
        width: 200px;
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 25px; }
      .theme .header .container .brand_search .search_icon {
        position: relative; }
        .theme .header .container .brand_search .search_icon .search {
          height: 30px;
          border: 1px solid #ced4da;
          background: #F8F9FA;
          margin-left: 60px;
          padding-left: 20px;
          padding-right: 30px; }
        .theme .header .container .brand_search .search_icon .fa-search {
          color: #748598;
          font-size: 20px;
          position: absolute;
          right: 5px;
          top: 7px; }

.theme .form-search {
  position: relative; }
  .theme .form-search .searchform {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .theme .form-search .searchform .input-text {
      height: 30px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #ced4da;
      background: #F8F9FA;
      margin-left: 60px;
      padding-left: 20px;
      padding-right: 30px; }
  .theme .form-search .button-submit {
    color: #748598;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 7px;
    border: 0px;
    height: 20px;
    width: 30px;
    background: transparent; }
  .theme .form-search .button-font {
    color: #748598;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 0px; }

.aside::-webkit-scrollbar {
  width: 0 !important; }

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+ruby+markup-templating+php+sass&plugins=line-numbers+toolbar+highlight-keywords+normalize-whitespace+show-language+copy-to-clipboard */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  /* margin: .5em 0; */
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #132239;
  border-radius: 5px; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

div.code-toolbar {
  position: relative; }

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 1; }

/* div.code-toolbar:hover > .toolbar {
    opacity: 1;
} */
div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
  margin-left: 10px; }

div.code-toolbar > .toolbar a {
  cursor: pointer; }

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: .5em; }

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%); }

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: .85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: .2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all 0.3s; }

.waves-float:active {
  -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

/*# sourceMappingURL=style.css.map */
