.card{
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
}
.card-md{
    width: 48%;
    background: #fff;
    height: auto;
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02); 
}