body.theme{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    ul{
        list-style: none;
        padding:0px;
        margin: 0px;
    }

    a{
        text-decoration: none;
        color: #111;
        &:visited{
            color:#111;
        }
        &:active{
            color: #111;    
        }
    }
}