.aside{
    background:#2b3a4a;
    width:240px;
    max-width: 240px;
    height: calc(100vh - 70px);
    overflow: scroll;
    position: sticky !important;
    top:70px;

    .list{
        padding-top: 0px;

        .item{
            color: #fff;
            font-size: 13.3px;
            padding: 13px 20px;
            cursor: pointer;
            line-height:20px;

            &:hover{
               background-color: #263442;
            }

            .link{
                @include unstyled-link();
                display: flex;

                i{
                    margin-right: 10px;
                }
            }
        }
    }

    .secondary{

        .item{
            margin-left: 30px;
            line-height: 10px !important;
        }
    }  
}

.aside::-webkit-scrollbar { 
    width: 0 !important;
}

.active{
    height: 100% !important;
    opacity: 1 !important;
}