.theme {
  .aside {
    background: #2b3a4a;
    width: 240px;
    max-width: 240px;
    height: calc(100vh - 70px);
    overflow: scroll;
    position: sticky !important;
    top: 70px;
    z-index: 30;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    @media screen and (max-width: 960px) {
      width: 22%;
      max-width: 22% !important;
    }

    @media screen and (max-width: 768px){
      display: none;
    }

    ul {

      li {
        color: #fff;
        font-size: 13.3px;
        cursor: pointer;

        &:hover {
          background-color: #263442;
        }

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 1.4em;
          line-height: 30px;
          padding: 20px;
          display: block;

          @media screen and (max-width: 960px) {
            font-size: 1.2em;
            padding: 10px !important;
          }
        }
      }
    }
  }
}

