.card{
    border-radius: 5px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container{
    width: 95%;
    margin: 10px auto;
}
 
.card-lg{
    width: 46.8%;
    height: auto;
    border: none;
    padding: 20px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow: 0 -3px 31px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.02);
    background: #fff;

    .coding.waves-effect{
       width: 100%;
    }

    .img-template{
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #f3f3f3;
    }
 }