.theme {
  .header {
    background: #ffffff;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 10;
     @include flexbox(flex-start, row, center);

    .container {
      width: 98%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;

      .brand_search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 28%;

        .brand {
          width: 200px;
          height: 42px;
          display: flex;
          align-items: center;
          font-size: 25px;
        }
      }

      .box-menu {
        display: flex;
        align-items: center;
        position: relative;

        .fa-bars{
          display: none;
        }

        ul {
          display: flex;

          li {
            margin-right: 10px;

            &:last-child {
              margin-right: 0px;
            }
          }
        }

        @media screen and (max-width: 700px){
          .fa-bars{
            display: block;
            font-size: 1.5em;
          }

          ul{
            display: none;
            flex-direction: column;
            background: #fff;
            position: absolute;
            right: 1%;
            bottom: -300px;
            box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
            padding: 30px 40px;

            li{
              padding: 10px 0px;
            }
            &.visible{
              display: block !important;
            }
          }
          
        }
      }
    }
  }
}