.theme {
  .header {
    background: #ffffff;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
    align-items: center;

    .container {
      width: 98%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;

      .brand_search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 28%;

        .brand {
          width: 200px;
          height: 42px;
          display: flex;
          align-items: center;
          font-size: 25px;
        }
      }

      .box-menu {
        display: flex;
        align-items: center;

        ul {
          display: flex;

          li {
            margin-right: 10px;

            &:last-child {
              margin-right: 0px;
            }

            @media screen and (max-width: 700px){
              display: none;
            }
          }
        }

        .material-icons {
          display: none;

          @media screen and (max-width: 700px) {
            display: block;
            font-size: 45px;
            cursor:pointer;
          }
        }
      }

      .secondary-menu{
        background: #fff;
        height: 500px;
        border: 2px solid #e6e6e6;
        border-radius: 0px 0px 0px 5px;
        border-right: 0px !important;
        border-top: 0px !important;
        position: absolute;
        right: 0px;
        top: 70px;
        width: 50%;
        padding: 40px;

        @media screen and (max-width: 425px){
          width:90%;
        }
      }
    }
  }
}