.form-search{
    padding: 10px;
    
        input.input-text{
        padding: 10px;
        border-radius: 3px;
        border: 0;
        font-size: 1.2em;
        margin-top: 20px;
    }

    .button-submit{
        border: 0;
        background: transparent;
        position:relative;

        .button-font{
            color: #fff;
            font-size: 2em;
            position:absolute;
            top: -21px;
        }
    }
}