.form-search{
    position: relative;
    .searchform{
        display: flex;
    align-items:center;
    flex-direction: row;

    }
    
    .button-submit{
       height: 30px;
       margin-left: 60px;
       padding-left:20px;
       padding-right: 30px;
    }
    .button-font{
       color: #748598;
       font-size: 20px;
       position: absolute;
       right: 5px;
       top: 7px;
    }
 }